<!-- navbar.html -->
<nav class="navbar">
    <ul>
        <li><a href="/index.html" class="nav-link">Home</a></li>
        <li><a href="/pages/blog.html" class="nav-link">Blog</a></li>
        <li><a href="/pages/tags.html" class="nav-link">Tags</a></li>
        <li><a href="/pages/links.html" class="nav-link">Links</a></li>
        <li><a href="/pages/about.html" class="nav-link">About</a></li>
        <li class="navbar-doro-item" aria-label="Doro easter egg entry">
            <doro-doro
                class="navbar-doro"
                doro-size="54px"
                doro-speed="10"
                doro-scream="DORO!"
                doro-multiply-chance="1"
                doro-multiply-max="5"
                doro-suicide-chance="0"
                doro-max-timeout="18"
                doro-boom-chance="0"
                doro-random-doro-chance="0"
            ></doro-doro>
        </li>
    </ul>
</nav>
